*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 82%);
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    background-color: hsl(0, 0%, 100%);
    height: 50px;
}

#logo{
    color: hsl(0, 0%, 0%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
    padding: 15px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

#navbar ul{
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

#navbar ul li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

#navbar ul li a:hover{
    color: hsl(0, 0%, 100%);
    background-color: #000000;
    border-radius: 10px;
}

#navbar ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    padding: 5px;
    height: 100%;
}

#welcome{
    background-color: hsl(0, 0%, 0%);
    color:white;
    text-align: center;
    padding: 20px;
}

.categories{
    background-color: #171717;
    color:white;
    text-align: center;
    padding: 20px;
    display: inline-block;
    width: 100%;

}

.category{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color: rgb(11, 11, 11);
    font-size: 1.5em;
    text-align: center;
    margin: 5px auto;
    margin: 50px;
    transition: all 0.5s ease;
    border-radius: 5px;
    display: inline-block;
}


.category img{
    height: 50%;
    width: 50%;
    margin: 25px auto;
}

.category:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(238, 238, 238);
    cursor: pointer;
    /* font-size: 1.8em; */
    border: 3px solid rgb(215, 215, 215);
    /* height: 250px;
    width: 250px; */
}
.category:hover img{
    filter: invert(100%);
    /* height: 60%;
    width: 60%; */
    transition: all 0.5s ease;
}


#product-listings-homepage{
    margin: 25px auto;
    width: 75%;
    
}
#product-listings-homepage,#product-listings{
    margin: 25px auto;
    width: 75%;
    
}

#smartphone-listings-homepage{
    margin: 5px;
}
#product-listings-homepage h2{
    clear:both;
    padding: 5px;
    
}
.product-listing{
    float: left;
    border: 2px solid;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    height: 300px;
    width: 200px;
    padding: 10px;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

.product-listing:hover{
    background-color: #ffebeb;
    transition: all 0.5s ease;
    color:hsl(0, 100%, 58%);
    min-height: 300px;
}

.product-listing img{
    width: 100%;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #product-listings-homepage{
        text-align: center;
    }
    .product-listing{
        float:none;
        margin: 5px auto;
        width: 100%;
        height: auto;
    }

    #navbar{
        text-align: center;
        height: auto;
    }
    #navbar p{
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    #navbar ul{
        float: none;
        margin: 0 auto;
        display: block;
        clear: both;
    }

    #product-main-section{
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    #add-to-cart-btn{
        width: 100%;
    }
    #quantity-input{
        width: 100%;
    }

    #product-image{
        display: block;
        margin: 0 auto;
        
    }
    #product-details {
        clear: both;
    }
    
   
}

#products-main{
    margin: 0;
    padding: 0;
}

select{
    font-size: 1.5em;
    padding: 5px;
    margin: 10px;
    float: left;
}

#product-listings{
    clear: both;
    margin: 0 auto;
}



#product-main-section {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Space between image and details */
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the section */
    margin-top: 25px;
}

#product-image {
    max-width: 40%; /* Product image on the left side */
    object-fit: cover; /* Ensure the image fits nicely */
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
    margin-right:0;
}

#product-details {
    flex-grow: 1;
}

#image-small img {
    width: 75px; /* Small images size */
    height: 75px;
    margin: 15px;
    border:1px solid;
    border-radius: 5px;
    cursor: pointer; /* To indicate they are clickable */
}

#product-name{
    font-size: 1.5em;
    font-weight: 600;
    
}

#product-price{
    font-size: 1.3em;
    font-weight: 600;
    margin: 10px 0;
}

#add-to-cart-btn{
    font-size: 1.3em;
    padding: 5px;
    margin: 10px 0;
    background-color: #131313;
    color: #ffffff;
    cursor: pointer;
}

#add-to-cart-btn:hover{
    background-color: #ffffff;
    color: #131313;
}

#quantity-input{
    display: block;
    padding: 5px;
    margin: 10px 0;
    margin-bottom: 5px;
}